@import './settings.scss';

.logo {
    text-align: center;
    margin: 15px 0;
 }

 .navBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 22px;
  margin-bottom: 15px;
  
  
  .nav-active{
    box-shadow: 4px 4px 11px 0 $primary-color;
    border-radius: 25px;
  }
  
  li {
    color: $secondary-color;
    background: $tertiary-color;
    border: 1px solid $primary-color;
    padding: 15px;
    border-radius: 25px;
    transition: 0.3s;
    
  }
  li:hover {
    box-shadow: 4px 4px 11px 0 $primary-color;
  }

 }