@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "lato", sans-serif;
}

#form_signup {
  border: 2px solid #fd2d01;
  width: 40%;
  padding: 20px 0;
  margin: 35px auto 0;
  user-select: none;
  text-align: center;
  background-color: #ffd7d7;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

.input_signup {
  margin: 0 20%;
  font-size: 1rem;
  transition: 0.2s;
  padding-left: 6px;
}

.submit {
  width: 40%;
  font-size: 16px;
  margin: 15px 30%;
  border-radius: 10px;
  padding: 4px 0;
  transition: 0.2s;
}

.submit:hover {
  background-image: linear-gradient(to top, #ffd7d7, #fd2d01);
  color: #4e5166;
  box-shadow: 4px 4px 11px 0 #9a9a9a;
}

.input_signup:hover {
  box-shadow: 8px 8px 8px -7px #9a9a9a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "lato", sans-serif;
}

.logo {
  text-align: center;
  margin: 15px 0;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 22px;
  margin-bottom: 15px;
}
.navBar .nav-active {
  box-shadow: 4px 4px 11px 0 #fd2d01;
  border-radius: 25px;
}
.navBar li {
  color: #ffd7d7;
  background: #4e5166;
  border: 1px solid #fd2d01;
  padding: 15px;
  border-radius: 25px;
  transition: 0.3s;
}
.navBar li:hover {
  box-shadow: 4px 4px 11px 0 #fd2d01;
}
.navBar button {
  color: #ffd7d7;
  background: #4e5166;
  border: 1px solid #fd2d01;
  padding: 15px;
  border-radius: 25px;
  font-size: 22px;
  transition: 0.3s;
}
.navBar button:hover {
  box-shadow: 4px 4px 11px 0 #fd2d01;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "lato", sans-serif;
}

.formPost {
  text-align: center;
}
.formPost textarea {
  max-width: 50%;
  min-width: 50%;
  min-height: 100px;
  max-height: 100px;
  text-align: center;
  padding: 0 20px;
  font-size: 16px;
  border: 2px solid #fd2d01;
  border-radius: 80px;
  box-shadow: 4px 4px 11px 0 #fd2d01;
  overflow: hidden;
}
.formPost .btn {
  margin: 15px 0;
  font-size: 14px;
  padding: 5px;
}
.formPost .btn:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "lato", sans-serif;
}

.PostRead h1 {
  text-align: center;
  font-size: 3rem;
  color: #fd2d01;
}
.PostRead .post {
  margin: 10px 30% 20px 30%;
  padding: 20px;
  font-size: 1.5rem;
  border: 3px solid #ffd7d7;
  box-shadow: 4px 4px 11px 0 #ffd7d7;
  transition: 0.3s;
}
.PostRead .post .picture {
  margin: 10px 10%;
}
.PostRead .post .picture img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
.PostRead .post .socialAction {
  display: flex;
}
.PostRead .post .socialAction .socialActionBtn {
  font-size: 16px;
  color: #4e5166;
  margin-right: 10px;
}
.PostRead .post .btnPutDelete {
  display: flex;
  justify-content: space-between;
  margin: 10px 25px;
}
.PostRead .post .btnPutDelete button {
  font-size: 18px;
  padding: 4px;
  border-radius: 10px;
  background: #ffd7d7;
}
.PostRead .textAreaModify {
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  max-height: 80px;
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
  border: 2px solid #ffd7d7;
  border-radius: 80px;
  box-shadow: 4px 4px 11px 0 #ffd7d7;
  overflow: hidden;
}
.PostRead .ValideModify {
  text-align: center;
}
.PostRead .ValideModify .btnValideModify {
  font-size: 18px;
  padding: 4px;
  border-radius: 10px;
  background: #ffd7d7;
  margin-top: 10px;
}
.PostRead .post:hover {
  transform: scale(1.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "lato", sans-serif;
}

.Comments {
  margin: 10px 20% 10px 20%;
}
.Comments a {
  text-align: center;
  font-size: 22px;
}
.Comments .Container {
  border: 3px solid #ffd7d7;
  box-shadow: 4px 4px 11px 0 #ffd7d7;
  padding: 15px;
}
.Comments .Container .Post {
  font-size: 20px;
  margin-bottom: 20px;
}
.Comments .Container img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
.Comments .CreateComment {
  text-align: center;
}
.Comments .CreateComment .TextAreaComment {
  max-width: 50%;
  min-width: 50%;
  min-height: 100px;
  max-height: 100px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #fd2d01;
  border-radius: 80px;
  box-shadow: 4px 4px 11px 0 #fd2d01;
  overflow: hidden;
  margin: 15px 0;
  padding: 5px;
}
.Comments .CreateComment input {
  font-size: 18px;
  padding: 4px;
  border-radius: 10px;
  background: #ffd7d7;
}
.Comments .Comment {
  margin: 10px 0;
  border: 2px solid #4e5166;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 4px 4px 11px 0 #ffd7d7;
  font-size: 18px;
}
.Comments .Comment button {
  font-size: 18px;
  padding: 4px;
  border-radius: 10px;
  background: #ffd7d7;
  margin: 10px;
}
.Comments .Comment textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  max-height: 80px;
  text-align: center;
  font-size: 16px;
  padding: 0 15px;
  border: 2px solid #ffd7d7;
  border-radius: 80px;
  box-shadow: 4px 4px 11px 0 #ffd7d7;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
